.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  margin-top: 50px;
}

.contact-block {
  padding: 20px;
  box-sizing: border-box;
  max-width: 400px;
  width: 100%;
  margin: 10px;
}

form {
  margin-bottom: 40px;
}

label {
  display: block;
  margin-bottom: 40px;
  font-size: 1.2em;
}

input {
  padding: 10px;
  font-size: 1em;
  margin: 20px;
  /* width: 300px; */
  width: calc(100% - 22px);
  /* color: rgb(239, 148, 172); */
  color: #555;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #555;
}

.qr-code {
  text-align: center;
  /* margin: 50px; */
}

.qr-code img {
  margin-top: 10px;
  /* border: 1px solid #333; */
}

.contact h1 {
  margin: 70px 0 100px 0;
}

/* Media query pre mobily */
/* @media (max-width: 600px) {
  .contact {
    flex-direction: column;
    align-items: center;
  }

  .contact-block {
    max-width: 100%;
  } 
}*/
