.home {
  text-align: center;
  margin-top: 50px;
}

.logo {
  /* width: 200px; */
  height: auto;
  margin-bottom: 40px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 40px;
}

h2 {
  font-size: 1.5em;
}

.highlight {
  color: rgb(239, 148, 172);
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 20px;
}


.card {
  padding: 20px;
  text-align: left;
  max-width: 300px;
}
