.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  margin-bottom: 0;
  margin-top: 30%;
}

.social-icons {
  margin-bottom: 10px;
}

.social-icons a {
  color: #fff;
  margin: 0 20px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #aaa;
}

.footer p {
  margin: 10px;
  font-size: 12px;
}
