.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #f8f8f8;
}

.logo {
  width: 70px;
  height: auto;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: #333;
}

.menu a:hover {
  color: rgb(239, 148, 172);
}
